/*General Styles */
/*colors*/
/* line 14, ../scss/main.scss */
html {
  font-size: 12pt; }

/* line 18, ../scss/main.scss */
main {
  display: flex;
  flex-direction: column;
  margin: 50px 20px;
  /*this applies properties to mains direct children*/ }
  /* line 22, ../scss/main.scss */
  main img {
    margin-top: 40px; }
  /* line 26, ../scss/main.scss */
  main > * {
    padding-left: 40px; }
  /* line 29, ../scss/main.scss */
  main .sedan-container {
    background-color: #e38826; }
    /* line 31, ../scss/main.scss */
    main .sedan-container h1 {
      font-family: "Big Shoulders Display", cursive;
      color: #f2f2f2; }
    /* line 35, ../scss/main.scss */
    main .sedan-container p {
      font-family: "Lexend Deca", sans-serif;
      color: rgba(255, 255, 255, 0.75); }
    /* line 39, ../scss/main.scss */
    main .sedan-container .learn-btn p {
      color: #e38826; }
  /* line 43, ../scss/main.scss */
  main .suv-container {
    background-color: #006970; }
    /* line 45, ../scss/main.scss */
    main .suv-container h1 {
      font-family: "Big Shoulders Display", cursive;
      color: #f2f2f2; }
    /* line 49, ../scss/main.scss */
    main .suv-container p {
      font-family: "Lexend Deca", sans-serif;
      color: rgba(255, 255, 255, 0.75); }
    /* line 53, ../scss/main.scss */
    main .suv-container .learn-btn p {
      color: #006970; }
  /* line 57, ../scss/main.scss */
  main .luxury-container {
    background-color: #004241; }
    /* line 59, ../scss/main.scss */
    main .luxury-container h1 {
      font-family: "Big Shoulders Display", cursive;
      color: #f2f2f2; }
    /* line 63, ../scss/main.scss */
    main .luxury-container p {
      font-family: "Lexend Deca", sans-serif;
      color: rgba(255, 255, 255, 0.75); }
    /* line 67, ../scss/main.scss */
    main .luxury-container .learn-btn p {
      color: #006970; }
  /* line 71, ../scss/main.scss */
  main .learn-btn {
    margin: 40px 0px;
    border: 2px solid white;
    border-radius: 30px;
    width: 50%;
    background-color: #f2f2f2; }
    /* line 77, ../scss/main.scss */
    main .learn-btn p {
      text-align: center; }
  /* line 82, ../scss/main.scss */
  main .sedan-info,
  main .suv-info,
  main .luxury-car-info {
    line-height: 1.50em;
    width: 80%; }

/* main ends */
/* line 90, ../scss/main.scss */
.attribution {
  font-size: 1em;
  text-align: center;
  margin-bottom: 30px; }
  /* line 94, ../scss/main.scss */
  .attribution .attribution a {
    color: #3e52a3; }
