// Scss Document


/* font variables*/

$paragraph-font: 'Lexend Deca', sans-serif;
$title-font:'Big Shoulders Display', cursive;

/*color variables*/

$title-color: hsl(0, 0%, 95%);
$paragraph-color: hsla(0, 0%, 100%, 0.75);
$sedan-color: hsl(31, 77%, 52%);
$suv-color:  hsl(184, 100%, 22%);
$luxury-color: hsl(179, 100%, 13%);

html{
	font-size: 12pt;
}

body{
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 100vh;
	

main{
	margin: 50px 20px;
	img {
		margin-top: 40px;
	}
	.content-wrapper{
		display: flex;
	flex-direction: column;
	/*this applies properties to content-wrapper direct children (sedan, suv, luxury containers)*/
	>* {
		padding-left: 40px;
	}
	
	.sedan-container{
		background-color: $sedan-color;
		h1{
			font-family: $title-font;
				color: $title-color;
		}
		p{
			font-family: $paragraph-font;
			color: $paragraph-color;
		}
		.learn-btn p{
			color: $sedan-color;
		}
	}
	.suv-container{
		background-color: hsl(184, 100%, 22%);
		h1{
			font-family: $title-font;
			color: $title-color;
		}
		p{
			font-family: $paragraph-font;
			color: $paragraph-color;
		}
		.learn-btn p{
			color: $suv-color;
		}
	}
	.luxury-container{
		background-color: hsl(179, 100%, 13%);
			h1{
			font-family: $title-font;
			color: $title-color;
		}
		p{
			font-family: $paragraph-font;
			color: $paragraph-color;
		}
		.learn-btn p{
			color: $suv-color;
		}
	}
	.learn-btn{
		margin: 40px 0px;
		border: 2px solid white;
		border-radius: 30px;
		width: 50%;
		background-color: $title-color;
			p{ text-align: center;
			
			}
	}
	
	.sedan-info,
	.suv-info,
	.luxury-car-info{
		line-height: 1.50em;
			width: 80%;
	}
} /*content-wrapper ends*/
} /* main ends */
} /*body ends */

.attribution { 
	font-size: 1em; 
	text-align: center; 
	margin-bottom: 30px;
	.attribution a 
	{ color: hsl(228, 45%, 44%); }
};

/* 1200px Screen Size */

@media(min-width: 1200px){
	
	body{
		display: flex;
		align-content: center;
		justify-content: center;
		
		main{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-content: center;
			margin: 0px;
			width: 100%;
			
				.content-wrapper{
				display: flex;
				flex-direction: row;
				width: 70%;
				margin-bottom: 30px;

					.sedan-info,
					.suv-info,
					.luxury-car-info{
						line-height: 2em;
						margin-bottom: 100px;
						width: 70%;
							}										
	} /* content-wrapper ends */		
}; /* main ends */	
} /* body ends */
} /*media query*/
			
				